html {
    background-color: rgb(38, 38, 41);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: rgb(199, 199, 199);
    font-family: "Verdana", "Geneva", sans-serif;
}

header {
    background-color: rgb(75, 75, 83);
    color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    -webkit-app-region: drag;
}

footer {
    background-color: rgb(56, 56, 61);
}

/***********************************************************************************/

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(78, 78, 82); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(108, 108, 112); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(152, 152, 155);  
  }

input[type=number] {
    background-color: rgb(66, 66, 71);
    outline: none;
    color: white;
    border: 1px solid rgb(92, 92, 100);
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    text-align: center;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    -webkit-app-region: no-drag;
    background-color: rgb(66, 66, 71);
    outline: none;
    color: white;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(92, 92, 100);
    margin: 1px;
}

button:hover {
    background-color: rgb(86, 86, 92);
    cursor: pointer;
}

.btn-selected {
    background-color: rgb(98, 98, 105);
    border-color: white;
}

.btn-selected:hover {
    background-color: rgb(116, 116, 124);
}

.title-bar {
    /*background: url("../images/weapon icons banner.png") 10px no-repeat;*/
    height: 80px;
    line-height: 80px;
    padding-left: 10px;
    font-size: 140%;
}

main {
    padding-left: 30px;
    padding-right: 30px;
}

#main-body {
    position: relative;
    height: 310px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding-top: 40px;
}

#minimize-button, #close-button {
    outline: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    border: none;
}

#minimize-button:hover, #close-button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#minimize-button {
    background: url('../images/minimize.png');
    top: 0;
    right: 30px;
}

#close-button {
    background: url('../images/close.png');
    top: 0;
    right: 0;
}

/*************************************************************/

#main-body {
    display: flex;
}

#item-selection {
    width: 100%;
    height: 90px;
    min-height: 90px;
    max-height: 90px;
    border-bottom: 1px solid rgb(77, 77, 77);
}

#available-effects {
    width: 100%;
    flex: 1;
    border-top: 1px solid rgb(126, 126, 126);
    font-size: 90%;
    overflow: auto;
}

/*************************************************************/

#item-selection-detail {
    margin-top: 2px;
}

#item-dropdown {
    display: inline-block;
    vertical-align: top;
    width: 122px;
    height: 30px;
    position: relative;
    background-color: rgb(66, 66, 71);
    border: 1px solid rgb(92, 92, 100);
    color: white;
    line-height: 22px;
}

#item-select {
    background-position: left !important;
    margin-left: 3px;
}

#item-select p {
    margin-left: 30px;
    line-height: 30px;
}

#item-dropdown-content {
    display: none;
    width: 122px;
    margin-left: -1px;
    background-color: rgb(66, 66, 71);
    border: 1px solid rgb(92, 92, 100);
    position: absolute;
    z-index: 1;
}

#item-dropdown-content div {
    /* padding: 5px 5px 5px 5px; */
    margin-left: 3px;
    line-height: 25px;
    background-position: left !important;
}

#item-dropdown-content div p {
    margin-left: 33px;
}

#item-dropdown-content div:hover {
    background-color: rgb(106, 106, 112);
}

#emplacements {
    display: inline-block;
}

.rune-dropdown {
    position: relative;
    display: inline-block;
}

.emplacement {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 1px;
    margin-left: 1px;
    background-color: rgb(66, 66, 71);
    border: 1px solid rgb(92, 92, 100);
    outline: none;
    color: white;
    text-align: center;
}

.emplacement:hover {
    background-color: rgb(86, 86, 92);
    cursor: pointer;
}

.selection {
    position: absolute;
    display: none;
    background-color: rgb(38, 38, 41);
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(92, 92, 100);
    border-top: none;
    margin-left: 1px;
    margin-right: 1px;
    z-index: 1;
    top: 30px;
}

.selection div {
    height: 30px;
    width: 30px;
    text-align: center;
}

.red-rune {
    background: url('../images/red_rune.png') no-repeat center;
    background-color: rgba(170, 58, 58, 0.5);
}

.blue-rune {
    background: url('../images/blue_rune.png') no-repeat center;
    background-color: rgba(102, 102, 170, 0.5);
}

.green-rune {
    background: url('../images/green_rune.png') no-repeat center;
    background-color: rgba(80, 173, 80, 0.5);
}

.white-rune {
    background: url('../images/white_rune.png') no-repeat center;
    background-color: rgba(221, 224, 194, 0.5);
}

.red-rune:hover {
    background-color: rgba(170, 58, 58, 0.7);
    cursor: pointer;
}

.blue-rune:hover {
    background-color: rgba(102, 102, 170, 0.7);
    cursor: pointer;
}

.green-rune:hover {
    background-color: rgba(80, 173, 80, 0.7);
    cursor: pointer;
}

.white-rune:hover {
    background-color: rgba(221, 224, 194, 0.7);
    cursor: pointer;
}

.rune-selected {
    border: 1px solid rgb(202, 202, 202);
}

.casque {
    background: url("../images/casque.png") no-repeat center;
}

.cape {
    background: url("../images/cape.png") no-repeat center;
}

.amulette {
    background: url("../images/amulette.png") no-repeat center;
}

.epaulettes {
    background: url("../images/epaulettes.png") no-repeat center;
}

.plastron {
    background: url("../images/plastron.png") no-repeat center;
}

.ceinture {
    background: url("../images/ceinture.png") no-repeat center;
}

.anneau {
    background: url("../images/anneau.png") no-repeat center;
}

.bottes {
    background: url("../images/bottes.png") no-repeat center;
}

.arme {
    background: url("../images/arme.png") no-repeat center;
}



/*************************************************************/

#effect-list {
    border-collapse: collapse;
    width: 100%;
}

/* #table-header {
} */

#effect-list tr {
    height: 28px;
    text-align: center;
}

#effect-list tr td {
    vertical-align: middle;
}

.effect-line:hover {
    background-color: rgba(202, 202, 202, 0.25);
    color: white;
    cursor: pointer;
}

.image-td div{
    display: inline-block;
    height: 28px;
    width: 26px;
}

.effect-boosted {
    font-style: italic;
}